<html lang="en">
    <body>
      <%- include('./navBar.ejs') %>
        <div class="class2">
          <a href="/home/mongo/">Search the Mongo database for cat and dog facts and images</a>
          </div>
          <div class="class2">
          <a href="/home/postgres/">Search the Postgres database for pets and owners</a>
        </div>
    </body>
</html>