<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
<body>
  <h1 class="class1">The Amazing Pet Directory</h1>
  <div class="class2">
    <a href="/users">Create New Account</a>
  </div>
  <div class="class2">
    <a href="/login">Log-in With Existing Account</a>
  </div>
</body>
</html>