<html lang="en">

<body>
  <form>
    <label>
      <input>Username:<%= login.username %>
    </label><br>
    <label>
      <input>Password: <%= login.password %>
    </label>
  </form>
</body>
</html>