<html lang="en">

    <body>
        <div class=>
            <form action="/login" method="POST">
                Login: <br>
            <label>Username:
                <input type="text" id="userame" name="username" value="<%= locals.username %>" required>
            </label>
            <label>Password:
              <input type="password" id="password" name="password" value="<%= locals.password %>" required>
          </label>
            <input hidden type="date" id="date" name="date" value="<%= currentDate %>" required>
           

            <br>
            <button>Login</button>
        </form>
        </div>
    </body>
</html>