<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <Title>Pet Directory</Title>
  <link rel="stylesheet" href="/styles.css">
</head>

<nav>
  <h1>The Awesome Pet Directory</h1>
  <a href="/users">Create User : </a>
  <a href="/login">Login</a>
</nav>
<body>

</body>
</html>