<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <Title>Pet Directory</Title>
  <link rel="stylesheet" href="/styles.css">
</head>

<nav>
  <h1>The Awesome Pet Directory</h1>
  <a href="/home">Home : </a>
  <a href="/home/mongo">Search MongoDB : </a>
  <a href="/home/postgres">Search Postgres : </a>
  <a href="/pets">Add new pet : </a>
  <a href="/owner">Add new owner : </a>
  <a href="/logout">Logout </a>
</nav>
<body>

</body>
</html>