<html lang="en">
    <%- include('./header.ejs') %>
    <body>
        <%- include('./navBar.ejs') %>
        <div>
            <h2>No data found for the route.</h2>
        </div>
    </body>
    <%- include('./footer.ejs') %>
</html>