<html lang="en">
    <body>
        
            <form action="/pets" method="POST">
                <b>pets: </b><br>

            <br><label>Add Pet:</label><br>
            <label>Name:
                <input type="text" id="pet_name" name="pet_name" value="<%= locals.pet_name %>" required>
            </label>
            <label>Age:
                <input type="text" id="age" name="age" value="<%= locals.age %>" required>
            </label>
            <label>Pet Type:
              <select id="type_id" name="type_id" required>
                <option value="1">Cat</option>
                <option value="2">Dog</option>
          </label>
          <input type="text" id="owner_id" name="owner_id">
            <br>
            <button>POST</button>
        </form>
        
    </body>
</html>