<html lang="en">

    <body>
        <%- include('./navBar.ejs') %>
        <div class="class3">
        <form action="/users" method="POST">
            
            <h2>Add User:</h2><br>
            <label>Username:
                <input type="text" id="username" name="username" value="<%= locals.username %>" required>
            </label>
            <label>Password:
                <input type="text" id="password" name="password" value="<%= locals.password %>" required>
            </label>
            <label>Email:
            <input type="text" id="email" name="email" value="<%= locals.email %>" required>
        </label>
            <br><br>
            <button>ADD</button>
        </form>
    </div>
    </body>
</html>